.content_center
  %br
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), class: 'auth') do |f|
    = f.label :email
    %br
    = f.email_field :email, :autofocus => true
    %div
      = f.label :password
      %br
      = f.password_field :password, class: 'form-control'
    - if devise_mapping.rememberable?
      %div
        = f.check_box :remember_me
        = f.label :remember_me
        %br
        %b.text-muted.pull-right
          Do not have a profile?
          = link_to "Sign up", new_user_registration_path
          %br
          = link_to "Forgot you password?", new_password_path('user'), :class => "login-link"
        %div= f.submit "Sign in", class: 'btn btn-success', "data-loading-text" => "Loading..."