Register here
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  %div
    = f.label :email
    %br
    = f.email_field :email, autofocus: true
  %div
    = f.label :password
    %br
    = f.password_field :password, autocomplete: "off"
  %div
    = f.label :password_confirmation
    %br
    = f.password_field :password_confirmation, autocomplete: "off"
  %div= f.submit "Sign up"