body {
  font-family: Arial;
}

ul {
  list-style: none;
}

div.uxoid {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: 950px;
}
ul.menu {
  display: inline-block;
}

ul.primary-menu {
  color: #021521;
}

ul.horizontal-menu {
  float: left;
}

ul.horizontal-menu > li {
  display: inline;
}

ul.horizontal-menu > li > a {

}

div.menu-container {
  display: flex;
}
/*




 */

