.modal.fade#add-article----admin
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        Add new article
      .modal-body
        = form_for @article, url: admin_publish_article_path, method: :post do |f|
          = f.label :title, "Title"  
          = f.text_field :title, class: "form-control"
          %br
          = f.label :fulltext, "Text"  
          = f.cktext_area :fulltext, class:"form-control"
          = f.hidden_field :user_id, value: current_user.id
          %hr
          .text-right= f.submit :publish, id: "publish_article", class: "btn btn-default"
      .modal-footer


