.modal.fade#users-list----admin
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        Users list
      .modal-body
        %table.table
          %tr
            %th #
            %th email
            %th active access key
            %th role
            %th generated access keys(not removed)
          - @users.each do |user|
            %tr
              %td= user[:id]
              %td= user[:email]
              %td= user[:access_key]
              %td= user[:role]
              %td= user[:access_keys]
      .modal-footer
