= link_to 'Add new article', admin_add_to_news_path, class: 'btn btn-warning', remote: true, id: 'remote_add_article'
= link_to 'Show users', admin_show_users_path, class: 'btn btn-warning', remote: true, id: 'remote_show_users', data: {type: 'html'}

- @news = News.all
%h3 News list
%table.table
  %tr
    %th Title
    %th Fulltext
    %th Created
    %th Actions
  - @news.each do |article|
    %tr  
      %td= article.title
      %td= article.fulltext
      %td= article.created_at
      %td
        = link_to 'delete', admin_delete_article_path(id: article.id), method: :delete
        = link_to 'edit', admin_add_to_news_path(aid: article.id), remote: true, id: 'remote_edit_article' 
%hr
