- @access_keys_list = current_user.access_tokens.order(created_at: :DESC)
%hr
%h3 Access keys list
%table.table
  %tr
    %th Access key
    %th Created
    %th Expired
    %th Active
    %th Actions
  - @access_keys_list.each do |access_key|
    - color_class = access_key.active? ? 'background-green' : 'background-red'
    %tr{ class: color_class }
      %td= access_key.explain
      %td= access_key.created_at
      %td= access_key.expire
      %td= access_key.active
      %td
        - if access_key.active
          = link_to 'Disable', api_disable_access_key_path( id: access_key.id )
        - else
          = link_to 'Delete permanently', api_delete_access_key_path( id: access_key.id ), method: :delete
%hr
