%h2 
  Welcome to 
  = link_to "vkrushelnytskiy.com.ua", "http://vkrushelnytskiy.com.ua"
%p.content-blog.pretty
  This is a website I've created to get more skills in development and to share my experience with my friends. If you want to see my own progress as a developer, please, follow the 
  = link_to "sign up", sign_up_path 
  link and follow further links. All your information will be in secure place, I promise.
  
  %hr

  Every day I will make a new deploy to this website. Currently I created
  =link_to "API", api_index_path
  so in future you will be able to use your information in widgets or follow certain events. My ambitions are to create something new, but not a Social Network. I don't know what this should be exactly, but I want to make a simple tool, pretty and easy to use and I hope this Project will also make my English better :)

  %hr

  .right.copyright
    Vitaliy Krushelnytskiy, Web Developer, 2015




  