.page-header
  %h1 
    Latest news
    %small{style: "display: inline-block"}
      last at
      .text-success= News.last.created_at.strftime("%d %B %Y")
.media-list
  - @news.each do |article|
    = render 'access/news/article_preview', article: article, link: "#{access_news_path}/#{article.slug}"

= will_paginate @news	