= form_tag do
  = select_tag 'setting', options_for_select(@types)
  = button_tag 'Add'

%hr
%table.table
  %tr
    %th ID
    %th NAME
    %th STATUS
  - @my_settings.each do |setting|
    %tr
      %th= setting.id
      %th= link_to setting.name, "/u/settings/#{setting.slug}"
      %th= setting.enabled?

- if @current_setting
  %hr
  = @current_setting.inspect
