.media.well
  .media-left
    .custom-news-date
      .day= article.created_at.day
      .month= article.created_at.strftime("%b %Y")
  .media-body
    %h4.media-heading= article.title
    %p
      - if article.short.present? 
        = article.short.html_safe
      - else  
        %p
          No text to preview. follow 
          = link_to 'link', link
          to view 
          %b fulltext 
          of the page
  .text-right
    %h4
      = link_to link do
        .label.label-primary
          Read more
  %hr
  .small.text-right
    Created by 
    = article.user || 'John Doe'