body {
	background: rgb(240,240,240);
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

div.v-header {
	background-color: #FFF;
	/*position: absolute;*/
	width: 100%;
	height: 48px;
	top: 0px;left: 0px;
	border-bottom: 1px solid rgb(222, 218,222);
}

div.v-header > div.header-content {
	position: relative;
	height: 100%;
	/*min-height: 48px;	*/
}

div.v-header > div.header-content > div {
	height: 32px !important;
}

div.navigation-registered {
	font-size: 17px;
	padding-top: 3px;
	text-align: right;	
}

div.navigation-registered > a.nav,
div.navigation-registered > a.nav:visited {
	text-decoration: none;
	color: black;
	margin-right: 5px; 
	padding: 5px 16px;
}

div.navigation-registered > a.nav:hover {
	text-decoration: underline;
	background-color: rgb(250,250,250);
}

div.v-body, div.v-body > div {
	min-height: 600px;
}

div.v-body {
	background-color: white;
	border: 1px solid rgb(222, 218,222);
	max-width: 1184px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px; 
}


div.v-footer
{
	height: 200px;
	border-top: 9px solid rgb(224, 102, 102);
	background: #2f2f2f;
	color: white;
	font-size: 11px;
}

a.inli {
	display: block;
	color: white;
}

div.content-block, div.right-block {
	/*background-color: rgb(250,250,250);*/
	/*border: 1px solid rgb(232,232,232);*/
	min-height: 550px;
	margin-top: 20px;
	margin-bottom: 20px;
}

div.right-block {
	float: right;
}

div.v-slider {
	width: 100%;
	height: 400px;
	background-color: white;
	margin-top: 10px;
	background-image: url('slide1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

div.v-slider > div.button-group {
	left: 50%;
	position: absolute;
  	top: 50%;
  	transform: translate(-50%, -60%);
}

::selection {
	background: rgba(20,20,20, 0.5);
	color: white;
}

button.nb {
	background-color: white;
	outline: none;
	border: 1px solid black;
	border-radius: 6px;
	padding: 5px 22px;
	cursor: pointer;  
}


button.nb.red-tranparent-lg {
	background-color: transparent;
	padding: 15px 55px;
	font-size: 15px;
	/*font-weight: bold;*/
	/*font-size: 18px;*/
	color: rgb(141, 64, 64);
	border: 2px solid rgb(141, 64, 64);
	border-radius: 0px ;
	font-family: Arial, sans-serif;
	transition: background-color .3s ease-in, color .3s linear;
}

button.nb.red-tranparent-lg:hover {
	color: #FFF;
	background-color: rgb(141,64,64);
}

h1.largest-red-heading {
	font-weight: normal;
	text-shadow: rgb(141, 64, 64) 1px 1px 2px;
	color: rgb(255, 217, 210);
}

.text-white-space {
	white-space: pre-wrap;
}

.grey {
	color: grey;
}

.author {
	font-size: 11px;
}

h1.header-large {
	font-size: 38px;
	text-align: center;
	color: #8D4040;
	text-shadow: #2f2f2f 1px 1px 1px;
}

div.right-block {
	border-left: 1px solid #BFBFBF;
	height: 120%;
	font-size: 10px;
	padding-left: 10px;

}


div.right-block > h2.section-title {
	font-size: 20px;
	color: #2f2f2f;
	border-bottom: 1px solid grey;
	width: auto;
	text-align: center;
}


a, a:visited {
	color: rgb(178, 0, 0);;
}

a.inlist {
	display: block;
	vertical-align: center;
}


