.custom-news-date {
  background: url('/assets/custom-date.png') no-repeat;
  width: 101px;
  height: 107px;
  padding-top: 17px;
  float: left;
  margin-right: 23px;
  margin-bottom: 36px;
  text-align: center;
}

.custom-news-date .day {
  font-size: 37px;
  color: #adb3b8;
  display: block;
  margin-bottom: 3px;
}

.custom-news-date .month {
  font-size: 12px;
  color: #adb3b8;
  text-transform: uppercase;
}