body {
  font-family: 'Open Sans', serif !important;
  /*background:  rgb(158, 255, 147);*/
  background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
}

ul {
  list-style: none;
}

div.uxoid {
  width: 100% !important;
  margin-left: auto;
  margin-right: auto;
  background: #FBFAF9;
  min-height: 600px;
  padding: 6px 10px;
  border-left: 12px solid grey;
}

table.table {
  border-collapse: collapse;
  font-size: 12px;
}

table.table, table.table th, table.table td {
  border: 1px solid #000000;
  padding: 2px 12px;
}

table.table th {
  background: #9A9B9A;
}

.background-green {
  background: #22AA22;
}

.background-red {
  background: #AA4444;
}

form {
  font-family: monospace;
  padding: 10px 30px;
}

form input {
  margin: 5px 6px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  padding: 5px 12px;
  outline: none;
  border: 1px solid grey;
}

form label {
  font-size: 10px;
}


hr {
  border-top: 1px solid #445599;
  border-bottom: none;
  max-width: 60%; 
}

form.auth {

}

.content_center {
  width: auto;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

.right {
  float: right;
}

.copyright {
  font-weight: bold;
  font-family: monospace;
  color: blue;

}

/* Buttons styling start */

button, input[type="submit"] {
  color: black;
  padding: 6px 18px;
  background: #FAFBFC;
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  cursor: pointer;
}

button.blue, input.blue[type="submit"] {
  color: white;
}

/* Buttons styling finish */

div.modal {
  position: absolute;
  min-width: 400px;
  min-height: 300px;
  width: auto;
  height: auto;
  z-index: 99999;
  border: 1px solid black;
  background-color: #DFDBDD;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container.news-mini-container  {
  padding: 3px 10px 3px 10px;
  background: rgb(228, 228, 228);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px solid rgb(95, 164, 200);
  margin-bottom: 60px;
  font-family: 'EB Garamond', serif !important; 
  box-shadow: rgb(228, 228, 228) -0px 0px 30px 1px;
}

.article-title > a {
  text-decoration: blink;
  color: grey;
}

.article-title > a:hover {
  color: black;
}

h2.article-title {
  margin: 0 0 20px 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  line-height: 1.1;
  font-size: 36px;
}

div.article-header {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 12px;
}

div.page-wrap {
  max-width: 1350px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  /*text-align: center;*/
}

.news-list {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  min-width: 500px;
}

.article-container {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(158,158,158,1);
  -moz-box-shadow: 0px 0px 5px 1px rgba(158,158,158,1);
  box-shadow: 0px 0px 5px 1px rgba(158,158,158,1);
  margin-bottom: 21px;
}

.article-p-header {
  height: 50px;
  padding: 7.5px 20px;
  font-size: 25px; 
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 21%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(21%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 21%, rgba(237,237,237,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 21%, rgba(237,237,237,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 21%, rgba(237,237,237,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 21%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
  margin-bottom: 15px;
}

.content {
  text-align:justify;
  font-size: 12px;
}

.article-footer {
  height: 60px;
  padding-left: 44px;
}