ul.menu {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

ul.primary-menu {
  color: #021521;
}

ul.horizontal-menu {
  float: left;
}

ul.horizontal-menu > li {
  display: inline;
  color: white;
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,0.85) 34%, rgba(32,124,229,0.57) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(34%, rgba(32,124,229,0.85)), color-stop(100%, rgba(32,124,229,0.57)));
  background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,0.85) 34%, rgba(32,124,229,0.57) 100%);
  background: -o-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,0.85) 34%, rgba(32,124,229,0.57) 100%);
  background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,0.85) 34%, rgba(32,124,229,0.57) 100%);
  background: linear-gradient(to bottom, rgba(73,155,234,1) 0%, rgba(32,124,229,0.85) 34%, rgba(32,124,229,0.57) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0 );
  padding: 10px 12px;
  border-right: 1px solid #6A88FF;
  cursor: pointer;
  text-align: center;
  margin-left: 0px;
  margin-right: 1px;
}

ul.horizontal-menu > li:hover {
   background: rgba(73,155,234,1);
}

ul.horizontal-menu > li > a, 
ul.horizontal-menu > li > a:visited {
	text-decoration: none;
	color: #FFFFFF;
	/*padding-left: 10px;*/
}



ul.horizontal-menu > li > a:hover {
	/*color: #643434;*/
	/*font-weight: bold;*/
}


div.menu-container {
  display: flex;
}