%h1 Create new app

= form_for @app, url: @url do |f|
  = f.label :name 
  = f.text_field :name, class: 'form-control'
  = f.label :description
  = f.text_area :description, class: 'form-control'
  %br

  .text-right= f.submit "Create app", class: 'btn btn-primary'