.container-fluid
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "#"} Brand
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        = link_to "Room", access_index_path
      %li
        = link_to "News", access_news_path
    //%form.navbar-form.navbar-left{:role => "search"}
    //  .form-group
    //    %input.form-control{:placeholder => "Search", :type => "text"}/
    //  %button.btn.btn-default{:type => "submit"} Submit
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          More
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li
            = link_to access_settings_path do
              %i.icon-gear
              &nbsp; Settings
          %li
            = link_to access_help_path do
              %i.icon-question-sign
              &nbsp; Help
          %li
            = link_to api_index_path do
              %i.icon-cloud
              &nbsp; API
          %li.divider
          %li   
            = link_to destroy_user_session_path, method: :delete do
              %i.icon-power-off
              &nbsp; Sign out
              