!!!
%html
  %head
    %title Friend
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=EB%20Garamond"
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    %nav.navbar.navbar-default= render user_signed_in? ? "layouts/user_dashboard" : "layouts/menu"
    / %hr
    .container=yield